.popup__close {
    background-image: url(../../../images/Close\ Icon.png);
    background-size: contain;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 67%;
    right: 31%;
    top: 165px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup__close:hover {
    opacity: 0.6;
    transition-duration: 2s;
}

@media all and (max-width: 540px) {
    .popup__close {
        height: 26px;
        width: 26px;
        left: 82.69%;
        right: 9.18%;
        top: 91px;
    }
}