.popup__input_name {
    border: none;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    margin: 36px 0 0 30px;
    width: 358px;
}

@media all and (max-width: 540px) {
    .popup__input_name {
        margin: 22px 0 0 30px;
        width: 238px;
    }
}